# Sanity CMS Configuration
# Get these values from https://www.sanity.io/manage

NEXT_PUBLIC_SANITY_PROJECT_ID=g7vofr5b
NEXT_PUBLIC_SANITY_DATASET=production

# Optional: For preview/draft content
SANITY_API_TOKEN=skd75CXhQ8VwpE1MxUCcxkWPsnET3DWqdSI6BHJwAQIp0rSzgwmdnjVZ8QvqqAPaeIh94CIgLk6pzxE3cHPQ6MEfiJpD8vvbYwBUvPt7qGfjTDDEOkbyjOSKKKIGYpElmt0b4MGcxfcpURDZYnL00o4H0TQQi1ODdyqPanwtBxyMWmFQWyYD
